sources/python/schema/test/xml/schema/profile2.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="profile:2.0"
           targetNamespace="profile:2.0"
           elementFormDefault="qualified">

<xs:complexType name="profiletype">
  <xs:sequence>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="age" type="xs:integer"/>
  </xs:sequence>
</xs:complexType>

<xs:element name="profile" type="profiletype"/>

</xs:schema>
